::-webkit-input-placeholder {
  color: white !important;
}
:-moz-placeholder {
  color: white !important;
}
:-ms-input-placeholder {
  /* IE10+ */
  color: white !important;
}

.username-item{
  padding:0px !important;
  border-bottom:none !important;
  border-top:none;font-size: 14px;
  margin-top:10px;
  background:none;
  border-bottom:1px solid white;
  box-shadow:none;
}

.username{
  color:white;
  border-bottom-color:white;
  box-shadow:none;
}


.password-item{
  padding:0px !important;
  font-size: 14px;
  margin-top:10px;
  background:none;
  border-bottom:1px solid white;
  box-shadow:none;
}

.password{
  color:white;
  border-bottom-color:white;
  box-shadow:none;
}

.login{
  background-image:url('../../../assets/imgs/login-background.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%
}

.login-button{
  margin-top: 15px;
  height: 35px;
  font-size: 14px;
  background: #10ABF4;
}

.list-form{
  margin-top:30px;
  margin-bottom: 30px
}


.no-scroll .scroll-content{
  overflow: hidden;
}
